.container {
  margin: 0 auto;
  padding: 0 7.5px;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 768px) {
  .col-xs-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-xs-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-xs-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-xs-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-xs-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-xs-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-xs-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-xs-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-xs-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-xs-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-xs-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}
@media all and (min-width: 960px) {
  .col-md-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-md-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-md-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-md-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-md-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-md-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-md-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-md-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .md-hidden {
    display: none;
  }
  .md-visited {
    display: block;
  }
  .container {
    width: 960px;
  }
  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
@media all and (min-width: 1180px) {
  width: 1180px;
}
